<div class="container" style="margin-bottom: 20px">
  <div class="row" style="margin-left: 12px">
    <div class="col-sm-3" *ngFor="let info of medicamento" style="margin-bottom: 15px; width: 100%; height: 10%" >
      <app-card-medicamento
        [urlImagen]="info.urlMedicamento"
        [nombre]="info.nombre"
        [usadoPara]="info.usadoPara"
      ></app-card-medicamento>
      <button type="button" class="btn btn-secondary btn-block" (click)="seleccionar(info.id)">Pedir Transferencia</button>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <<ul class="pagination justify-content-center pagination-lg">
  <li [class]="class">
    <a class="page-link" (click)="cargar()" tabindex="-1">Anteriores 4 </a>
  </li>
  <li [class]="class2">
    <a class="page-link" (click)="cargarMas()" >Siguientes 4</a>
  </li>
</ul>
</nav>
